# 4.8 Grouping Data & Aggregating Variables

### This script contains the following points:
#### 1. Importing libraries, defining project path, and importing dataset 'orders_products_merged_update.pkl'
#### 2. Finding the aggregated mean of the 'order_number' column grouped by 'department_id'
#### 3. Analyzing the aggregated mean of the 'order_number' column grouped by 'department_id' 
#### 4. Creating flag 'loyalty_flag' based on 'max_order' (grouped by 'user_id')
#### 5. Analyze column 'prices' (with descriptive statistics) grouped by column 'loyalty_flag'
#### 6. Creating flag 'spend_flag' based on 'avg_price' (grouped by 'user_id')
#### 7. Creating flag 'order_freq_flag' based on 'median_days_since_last_order' (grouped by 'user_id')
#### 8. Exporing dataframe

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ronaldcameron/Documents/Data Analytics/Achievement 4 - Python/02:2023 Insta Cart Basket Analysis/Data'

In [4]:
ords_prods_merge = pd.read_pickle(r'/Users/ronaldcameron/Documents/Data Analytics/Achievement 4 - Python/02:2023 Insta Cart Basket Analysis/Data/orders_products_merged_update.pkl')

In [5]:
df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 20)

In [7]:
df

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid-range products,Regularly busy,Regular Days,Most Orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid-range products,Busiest day,Busiest Days,Average Orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid-range products,Least busy,Slowest Days,Average Orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2164,2164,"Waffles, Sweet Belgian, Vanilla",52,1,8.9,1145094,64079,10,1,13,6.0,21,1,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders
999996,2164,2164,"Waffles, Sweet Belgian, Vanilla",52,1,8.9,1055848,64140,3,1,13,4.0,5,1,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders
999997,2164,2164,"Waffles, Sweet Belgian, Vanilla",52,1,8.9,3367481,64213,23,5,11,6.0,2,0,both,both,Mid-range products,Regularly busy,Regular Days,Most Orders
999998,2164,2164,"Waffles, Sweet Belgian, Vanilla",52,1,8.9,3088382,64213,24,1,18,3.0,6,1,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders
999999,2164,2164,"Waffles, Sweet Belgian, Vanilla",52,1,8.9,3386858,64213,26,0,15,6.0,10,1,both,both,Mid-range products,Busiest day,Busiest Days,Average Orders

In [8]:
df.groupby('product_name')

In [9]:
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                16.645833
2                17.811388
3                17.490038
4                18.577483
5                16.444540
6                17.785738
7                18.134240
8                15.886037
9                16.558979
10               19.554859
11               16.540736
12               15.491845
13               17.690066
14               18.083510
15               17.417158
16               18.957387
17               17.069618
18               20.758164
19               17.855141
20               17.345317
21               26.109076

In [10]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                16.645833   2  99
2                17.811388   2  97
3                17.490038   2  99
4                18.577483   2  99
5                16.444540   2  99
6                17.785738   2  99
7                18.134240   2  99
8                15.886037   2  98
9                16.558979   2  99
10               19.554859   2  99
11               16.540736   2  99
12               15.491845   2  99
13               17.690066   2  99
14               18.083510   2  99
15               17.417158   2  99
16               18.957387   2  99
17               17.069618   2  99
18               20.758164   2  99
19               17.855141   2  99
20               17.345317   2  99
21               26.109076   2  98

In [23]:
#4 Creating Loyalty Flags 
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [24]:
ords_prods_merge.head(15)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,5,0,both,both,Mid-range products,Regularly busy,Regular Days,Most Orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,1,1,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,20,0,both,both,Mid-range products,Busiest day,Busiest Days,Average Orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,11,1,both,both,Mid-range products,Least busy,Slowest Days,Average Orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,...,7,0,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders,26,Regular customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,...,2,0,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders,9,New customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,...,1,0,both,both,Mid-range products,Regularly busy,Slowest Days,Most Orders,12,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,...,1,0,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders,20,Regular customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,...,2,1,both,both,Mid-range products,Regularly busy,Busiest Days,Average Orders,20,Regular customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,...,1,0,both,both,Mid-range products,Regularly busy,Slowest Days,Average Orders,43,Loyal customer
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,...,3,1,both,both,Mid-range products,Least busy,Slowest Days,Average Orders,43,Loyal customer
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,...,4,1,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders,43,Loyal customer
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,...,8,0,both,both,Mid-range products,Regularly busy,Slowest Days,Most Orders,13,Regular customer
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,...,18,1,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders,13,Regular customer
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,...,12,1,both,both,Mid-range products,Regularly busy,Regular Days,Average Orders,13,Regular customer

In [25]:
pd.options.display.max_rows = None

In [26]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [27]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [29]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: loyalty_flag, dtype: int64

In [30]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             3
4       777  Regular customer            16
5       825      New customer             3
6       910  Regular customer            12
7      1052  Regular customer            10
8      1052  Regular customer            15
9      1480    Loyal customer            36
10     1480    Loyal customer            38
11     1480    Loyal customer            39
12     1494  Regular customer             6
13     1494  Regular customer             7
14     1494  Regular customer             9
15     1540  Regular customer             4
16     1540  Regular customer             5
17     1540  Regular customer             6
18     1540  Regular customer             7
19     1540  Regular customer             8
20     1540  Regular customer             9
21     1540  Regular customer            14
22     1540  Regular customer            15
23     1540  Regular customer            18
24     1540  Regular customer            19
25     1540  Regular customer            20
26     1540  Regular customer            21
27     1540  Regular customer            22
28     1540  Regular customer            24
29     1540  Regular customer            25
30     1540  Regular customer            27
31     1540  Regular customer            28
32     1598      New customer             2
33     1598      New customer             3
34     1647      New customer             4
35     1647      New customer             6
36     1647      New customer             8
37     1647      New customer             9
38     2850  Regular customer             7
39     2857  Regular customer            24
40     3010  Regular customer             5
41     3395      New customer             4
42     4006    Loyal customer             2
43     4006    Loyal customer             3
44     4006    Loyal customer             5
45     4006    Loyal customer             9
46     4006    Loyal customer            12
47     4122  Regular customer            11
48     4141      New customer             2
49     4553      New customer             3
50     4845  Regular customer             6
51     7275      New customer             5
52     7669  Regular customer             3
53     7669  Regular customer             4
54     7669  Regular customer            20
55     7981  Regular customer             9
56     7981  Regular customer            13
57     7981  Regular customer            14
58     7981  Regular customer            24
59     7981  Regular customer            30

# 4.8 Task

In [22]:
# 2 Aggregate Mean of Dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

3. The results for the entire dataframe do not differ drastically, but getting the average of the full dataset is a more complete result than a subset.

4. Loyalty Flags were already created above.

In [31]:
#5 Creating descriptive Statistics for Loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.402162  1.0  99999.0  105013789.0
New customer      13.396333  1.0  99999.0   69013769.8
Regular customer  12.546842  1.0  99999.0  189227600.9

In [32]:
#6 Creating Spending Flag 
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [33]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [34]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [35]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     29730505
High spender      598258
Name: spending_flag, dtype: int64

In [37]:
#7 Creating Order Frequency Flag
ords_prods_merge['prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [38]:
ords_prods_merge.loc[ords_prods_merge['prior_orders'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [40]:
ords_prods_merge.loc[(ords_prods_merge['prior_orders'] > 10) & (ords_prods_merge['prior_orders'] <= 20), 'frequency_flag'] = 'Regular customer'

In [41]:
ords_prods_merge.loc[ords_prods_merge['prior_orders'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [43]:
#9 Exporting Dataframe
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_update2.pkl'))